body {
    font-family: Times New Roman, Helvetica, sans-serif;
    background-image: url("gambar/image.jpeg");
    background-size: cover;
    background-attachment: fixed;
    text-decoration: none;
    width: 800px;
    margin: 20px auto;
    padding: 10px;
    
    }

    .form{
        background-color: rgba(255, 255, 255, 0.8);
        padding: 10px;
        border: 1px solid #000;
    }

    table{
        width: 100%;'
    }

    textarea, select {
        width: 90%;
    }


    td, tr{
        width: auto;
        padding-left: 10px;
        padding-bottom : 10px;
    }


.data_diri h1{
            background-color: rgb(0, 204, 255);
            margin: auto;
            padding: 10px;
            text-align: center;
        }
.data_alamat h1{
            background-color: rgb(0, 204, 255);
            margin: auto;
            padding: 10px;
            text-align: center;
        }
.data_pendidikan h1{
            background-color: rgb(0, 204, 255);
            margin: auto;
            padding: 10px;
            text-align: center;
        }

.data_program h1{
            background-color: rgb(0, 204, 255);
            margin: auto;
            padding: 10px;
            text-align: center;
}

